<div style="color: white; background-color: #45B39D;" class="row">
    <div class="col-md-6">
        <img src="assets/homepage.png">
    </div>
    <div class="col-md-6">
        <a href="/pre-video">
        <button style="width: 30%; margin-left:20%; margin-top: 20%;"class="btn btn-light btn-lg">Call Us Now</button>
        </a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin-top:10%">
            <h3>Languages Offered</h3>
            <ul>
                <li>Spanish</li>
                <li>Mandarin</li>
                <li>Hindi</li>
                <li>French</li>
                <li>Arabic</li>
                <li>Russian</li>
                <li>Ukrainian</li>
                <li>English</li>
            </ul>
        </div>
        <div class="col-md-8">
            <img src="./assets/lanuagetree.png" alt="Languages Offered" style="width: 100%">
        </div>
        
    </div>
<div class="row">
    <div class="col-md-6">
        <h2>About Us</h2>
    <p>It’s not easy living in a foreign country. Between the language barrier and new culture, it can be difficult to get the help you need for important tasks such as taxes, insurance, legal help, or signing documents. Even something as small as signing a field trip form. Here at DocLingo we connect volunteer translators to you. During each session with a volunteer, they will walk you through the contents of the document in your native language.  If you need even more specialized help such as legal or medical translations that are available by appointment.</p>

</div>
    <div class="col-md-6">
    <img src="./assets/womanWorkingOnComputer.jpg" alt="PlaceHolder" style="width:90%">
    </div>
</div>
<p><br></p>
</div>