<!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Appointment Home!</h1>
                    <p class="lead mb-0">Homepage</p>
                </div>
            </div>
        </header>

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
        <!--Join Call Button-->

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Join Call</h5>
                    <p class="card-text">Join the call to discuss needs during your appointment.</p>
                    <a href="testVideo.html" class="btn btn-primary">Join Call</a>
                </div>
            </div>
        </div>

        <!--File Submission-->

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">File Submission</h5>
                    <p class="card-text">Submit your files information here.</p>
                    <button href="" type="submit" class="btn btn-primary">File Submission </button>
                </div>
            </div>


        <!--Text Submission Form-->

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Text Submission Form</h5>
                            <p class="card-text">Submit your text here.</p>
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Example textarea</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div>
            <div class="col-md-6">
                <!--Info box-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Info Box</h5>
                        <p class="card-text"> Create an Appointment to speak with a Consultant.</p>
                    </div>
            </div>
        </div>
    </div>

        <div>
            <div class="col-md-6 text-right">

                <!--Info box-->
                <div class="card">
                    <div  class="card-body">
                        <h5 class="card-title">Make An Appointment</h5>
                      <ejs-datepicker id='datepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate'></ejs-datepicker>
                    </div>
            </div>
        </div>
     </div>

